.changemenu {
    margin-top: 5px;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: #aaaaaa;
    border-style: ridge;
}

.changemenuname {
    font-family: Arial;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenutitle {
    font-family: Arial;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenutheme {
    font-family: Arial;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenudescription {
    font-family: Arial;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenuareaofusage {
    font-family: Arial;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenusize {
    font-family: Arial;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
}

.changemenuselectmenu1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.changemenuselectmenu2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.changemenuselectmenu3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
}

.changemenuinput1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.changemenuinput2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -15px;
    height: 8vh;
    resize: vertical;
    text-align: left;
}

.changemenuinput3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -15px;
    height: 8vh;
    resize: vertical;
    text-align: left;
}

.changemenubutton1 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.changemenubutton2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}